:host {
  flex: 1;
  display: flex;
}

.list-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  #myChart {
    flex: 1;
    flex-grow: 0;
    display: flex;
  }
}
